.image-book-input {
  width: 220px;
  height: 320px;
  border-radius: 10px;
  background: transparent;
  border: 2px dashed #6c757d;
  margin: auto;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  & > input {
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  & > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6c757d;
  }
}

.tags-list {
  max-height: 100px;
  overflow-y: auto;
  margin-bottom: 10px;
}
