aside {
  bottom: 0;
  float: none;
  left: 0;
  position: fixed;
  top: 0;
  background-color: #11364c;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  height: 100vh;
  overflow-y: hidden;
  z-index: 1038;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 76px!important;
  overflow-x: hidden;

  & p {
    margin: 0;
    padding: 0;
  }

  &:hover {
    width: 230px!important;
    & > .sidebar {
      & > .user-container {
        & > .info {
          margin-left: 10px;
        }
      }
      & > .tabs-container {
        & p {
          margin-left: 0px !important;
        }
        & .tab-link {
          width: calc(100% - 26px - 17px) !important;
          & > a {
            margin-left: 0px !important;
          }
        }
      }
    }
  }

  & > .sidebar {
    padding: 0;

    & > .user-container {
      display: flex;
      flex-direction: row;
      min-width: 230px;

      & > .avatar {
        height: 42px;
        width: 42px;
        min-width: 42px;
        border-radius: 50%;
        border: 1px solid white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 17px;
        margin-bottom: 17px;
        margin-left: 17px;
        transition: margin-left 0.3s ease-in-out;
      }

      & > .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 19px;
        flex-grow: 1;
        transition: margin-left 0.3s ease-in-out;

        & > .name {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          color: #e0e0e0;
          margin: 0;
          padding: 0;
        }
        & > .mail {
          font-weight: 300;
          font-size: 12px;
          line-height: 15px;
          color: #bdbdbd;
          margin: 0;
          padding: 0;
        }
      }
    }

    & > .path {
      margin: 0 auto;
      height: 1px;
      width: calc(100% - 20px);
      background: rgba(255, 255, 255, 0.2);
    }

    & > .tabs-container {
      width: 100%;
      height: 100%;
      padding-top: 20px;

      & > .tabs {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0;
        }
      }
    }
  }
}
