.add-multi-user-container {
  min-width: 1030px;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  & > .bee-card-body {
    position: relative;
    & > .list-users-section {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      
      & > .grid-table-header {
        display: grid;
        grid-template-columns: 40px 160px 80px 120px 300px 85px 100%;
        max-width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        padding: 15px 5px;
      }
      & > .grid-table-body {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 40px 160px 80px 120px 300px 85px auto;
        max-width: 100%;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        color: #ffffff;
        overflow: auto;
        & > div {
          padding: 15px 5px;
          overflow-wrap: break-word;
          &.center {
            text-align: center;
          }
          &.fill {
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
