.user-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  & > .box {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 305px;
    height: 100px;
    background: rgba(17, 54, 76, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    &.new-users-box {
      --background-color: var(--background-green);
    }

    &.react-forum-box {
      --background-color: var(--background-red);
    }

    &.hour-pomodoro-box {
      --background-color: var(--background-blue);
    }

    &.created-flowers-box {
      --background-color: var(--background-yellow);
    }

    & > .icon-container {
      width: 62px;
      height: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background: var(--background-color);

      & > .icon {
        width: 34px;
        height: 34px;
        fill: white;
      }
    }

    & > .content {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      & > .title {
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        color: #ffffff;
        margin: 0;
        padding: 0;
      }

      & > .value {
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        color: #ffffff;
        margin: 0;
        padding: 0;
      }
    }
  }
}
