:root {
  --primary-color-orange: #f9b700;
  --primary-color-blue: #185f74;
  --base-gray-color: #e8e8e8;
  --text-gray50-color: #b5b5b5;
  --text-gray100-color: #9b9b9b;
  --text-gray100-color-90: #9b9b9bf6;
  --base-gray-color-90: #e8e8e8f5;
  --gray-color: #929292;
  --white-color: #ffffff;
  --small-font-size-14px: 1rem;
  --text-black-color: #545454;
  --red-color: #f95500;
  --black-background-55: rgba(84, 84, 84, 0.55);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sidebar{
  margin-top: 0px!important;
}