@import "./scss/animations.scss";
@import "./scss/styleTableData.scss";

:root {
  --primary-color-orange: #f9b700;
  --primary-color-blue: #185f74;
  --base-gray-color: #e8e8e8;
  --text-gray50-color: #b5b5b5;
  --text-gray100-color: #9b9b9b;
  --text-gray100-color-90: #9b9b9bf6;
  --base-gray-color-90: #e8e8e8f5;
  --gray-color: #929292;
  --white-color: #ffffff;
  --small-font-size-14px: 1rem;
  --text-black-color: #545454;
  --red-color: #eb5757;
  --black-background-55: rgba(84, 84, 84, 0.55);
  --background-green: #185f74;
  --background-red: #eb5757;
  --background-yellow: #f2c94c;
  --background-blue: #0f90ab;
  --background-green-50: rgba(17, 54, 76, 0.5);
  --background-white-50: rgba(254, 254, 254, 0.5);
}

.bee-main-container {
  width: 100%;
  height: 100vh;
  background-image: url("assets/png/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  & > .bee-main-content {
    margin-top: 76px;
    margin-left: 76px;
    width: calc(100% - 76px);
    height: calc(100% - 76px);
    overflow-x: auto;
    overflow-y: auto;

    & > .content {
      padding: 20px;
    }

    &::-webkit-scrollbar {
      width: 17px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      border: 5px solid transparent;
      background-clip: content-box;
      background-color: rgba(224, 224, 224, 0.5);
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgba(224, 224, 224, 0.7);
      }

      &:active {
        background-color: rgba(224, 224, 224, 1);
      }
    }
  }
}

.bee-scroll {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 17px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: rgba(224, 224, 224, 0.5);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(224, 224, 224, 0.7);
    }

    &:active {
      background-color: rgba(224, 224, 224, 1);
    }
  }
}

.bee-btn {
  background-color: transparent;
  color: #e0e0e0;
  border: none;
  max-height: 42px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  position: relative;

  & > input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &.blue {
    background: #1aa0bc;
    &:hover {
      background: #0f90ab;
    }
    &:active {
      background: #056d83;
    }
  }

  &.no-fill {
    color: #e0e0e0;
    &:hover {
      color: white;
    }
    &:active {
      color: white;
    }
  }

  &.yellow {
    background: #f9b700;
    color: #333333!important;
    & > .icon {
      fill: #333333!important;
    }
    &:hover {
      background: #e2a600;
    }
    &:active {
      background: #bf8d00;
    }
  }

  &.red {
    background: #eb5757;
    &:hover {
      background: #ca5252;
    }
    &:active {
      background: #b64242;
    }
  }

  &:hover {
    background: rgba(249, 183, 0, 0.1);
    color: white;

    & > .icon {
      fill: white;
    }
  }
  & > .icon {
    margin: 5px;
  }
}

.bee-card {
  background: rgba(17, 54, 76, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  & > .bee-card-header {
    min-height: 50px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .bee-card-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 29px;
      color: #e0e0e0;
    }

    & > .bee-card-actions {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  & > .bee-card-body {
    padding: 10px;
  }

  & > .bee-card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    &.border-line-top {
      border-top: 1px solid #f9b700;
    }
    & > .left {
      margin-right: auto;
      display: flex;
      flex-direction: row;
      gap: 10px;
      color: white;
    }
    & > .right {
      margin-left: auto;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  fill: white;
  width: 24px;
  height: 24px;
}

.bg-green {
  background: var(--background-green);
}
.bg-red {
  background: var(--background-red);
}
.bg-yellow {
  background: var(--background-yellow);
}
.bg-blue {
  background: var(--background-blue);
}
.bg-orange {
  background: #f2994a;
}
.bg-light-green {
  background-color: rgba(111, 207, 151, 1);
}
.bg-light-red {
  background-color: rgba(235, 87, 87, 1);
}
.bg-light-blue {
  background-color: rgba(86, 204, 242, 1);
}
.bg-light-yellow {
  background-color: rgba(242, 201, 76, 1);
}
.bg-green-50 {
  background: rgba(17, 54, 76, 0.5);
}

.box {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 305px;
  height: 100px;
  background: rgba(17, 54, 76, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  & > .icon-container {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    & > .icon {
      width: 34px;
      height: 34px;
      fill: white;
    }
  }

  & > .content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    & > .title {
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      color: #ffffff;
      margin: 0;
      padding: 0;
    }

    & > .value {
      font-weight: 600;
      font-size: 24px;
      line-height: 35px;
      color: #ffffff;
      margin: 0;
      padding: 0;
    }
  }
}

.box-m {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 305px;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  & > .content {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    & > .title {
      font-weight: 300;
      font-size: 18px;
      color: #ffffff;
    }

    & > .value {
      font-weight: 800;
      font-size: 32px;
      color: #ffffff;
    }
  }

  & > .icon-container {
    margin-left: auto;
    opacity: 0.5;
    & > .icon {
      width: 65px;
      height: 65px;
    }
  }
}

.badge {
  width: fit-content;
  padding: 5px 8px;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  &.m {
    font-weight: 400;
    font-size: 12px;
  }
  & > .icon {
    width: 18px;
    height: 18px;
  }

  &.bg-green {
    background: #027b76;
  }

  &.txt-yellow {
    font-size: unset;
    color: #f9b700;
    & > .icon {
      fill: #f9b700;
    }
    background: transparent;
  }

  &.bg-blue {
    background: #1aa0bc;
    color: white;
  }

  &.bg-yellow {
    background: #f9b700;
    color: #333333;
    & > .icon {
      fill: #333333;
    }
  }

  &.bg-red {
    background: #eb5757;
  }
}
